.awesome_btn {
    -fx-background-color: none;
}
.awesome_btn FontAwesomeIconView{
    -fx-fill: rgb(0, 200, 22);
}
.awesome_btn:hover FontAwesomeIconView{
    -fx-fill: rgb(0, 200, 200);
}
.awesome_btn {


}
.awesome_btn:hover {

}
