.item_header Button{
    -fx-background-color: none;
}
.close_icon {
    -fx-fill:  #cc9a9a;
}
#infoBtn{
    -fx-fill:  #cc9a9a;
}

.close_icon:hover {
    -fx-fill:  #af5b5e;
}

#infoBtn:hover{
    -fx-fill:  #af5b5e;
}
.active .title_task {
    -fx-font-size: 2em;
    -fx-text-fill: rgb(0, 200, 22);
}
.in_active .title_task{
    -fx-font-size: 2em;
    -fx-text-fill: rgba(175, 47, 47, 0.5);
}

.active .playing_icon{
    -fx-fill: rgb(0, 200, 22);
}
.in_active .playing_icon{
    -fx-fill: rgba(175, 47, 47, 0.5);
}